body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
}

header {
    background: #35f428;
    color: white;
    padding: 10px;
    font-size: 24px;
}

main {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

form {
    margin-top: 10px;
}

button {
    background: #35f428;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background: #35f428;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #35f428;
    color: white;
}
